In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
usa_ufos = pd.read_csv('../data/usa_ufos_clean2.csv', nrows = 132308,  encoding='unicode_escape')
usa_ufos.head()

In [10]:
shape_counts = usa_ufos['shape'].value_counts()
shape_counts = pd.DataFrame(shape_counts).reset_index()
shape_counts.columns = ['shape', 'count']

shape_counts.sort_values('count', ascending=False)
shape_counts

        shape  count
0       LIGHT  24664
1      CIRCLE  12763
2    TRIANGLE  11846
3     UNKNOWN   9023
4    FIREBALL   8980
5       OTHER   8874
6        DISK   7549
7      SPHERE   6752
8        OVAL   5649
9         ORB   5494
10  FORMATION   4378
11   CHANGING   3614
12      CIGAR   3329
13  RECTANGLE   2356
14   CYLINDER   2230
15      FLASH   2180
16    DIAMOND   1858
17    CHEVRON   1594
18        EGG   1109
19   TEARDROP   1098
20       CONE    505
21      CROSS    451
22       STAR    164
23       CUBE     36

In [19]:
shapes_state = usa_ufos[['shape', 'state']].value_counts()
shapes_state = pd.DataFrame(shapes_state).reset_index()
shapes_state.columns = ['shape', 'state', 'count']

shapes_state.sort_values('count', ascending=False)
shapes_state

         shape    state  count
0        LIGHT       CA   3045
1       CIRCLE       CA   1556
2        LIGHT       FL   1447
3        LIGHT       WA   1384
4     TRIANGLE       CA   1335
...        ...      ...    ...
1186     CROSS       NE      1
1187      CUBE       CA      1
1188     CROSS  Unknown      1
1189      STAR       NH      1
1190      CUBE       NJ      1

[1191 rows x 3 columns]