In [24]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [25]:
ufo_df = pd.read_csv('../data/nuforc.csv')
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148451 entries, 0 to 148450
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  148451 non-null  int64
 1   image_link  148451 non-null  object
 2   occurred    148153 non-null  object
 3   city        147920 non-null  object
 4   state       139495 non-null  object
 5   country     148451 non-null  object
 6   shape       142108 non-null  object
 7   summary     148377 non-null  object
 8   reported    148451 non-null  object
 9   posted      148451 non-null  object
 10  image       4277 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [26]:
ufo_df['country'].nunique()

395

In [27]:
ufo_df['country'].value_counts()

USA                       132522
Canada                      5938
United Kingdom              3437
Australia                    952
India                        488
                           ...
Dominica, West Indies          1
sri lanka                      1
Caribbean (Grand Turk)         1
italy                          1
Germany/France                 1
Name: country, Length: 395, dtype: int64

In [28]:
ufo_df['city'].nunique()

30237

In [30]:
usa_ufos = ufo_df[ufo_df['country'] == 'USA']

In [31]:
us_city_counts = usa_ufos[['city', 'state']].value_counts()
us_city_counts = pd.DataFrame(us_city_counts).reset_index()
us_city_counts.columns = ['city', 'state', 'count']

us_city_counts.sort_values('count', ascending=False)
us_city_counts

                                city state  count
0                            Phoenix    AZ    773
1                            Seattle    WA    742
2                          Las Vegas    NV    648
3                           Portland    OR    590
4                        Los Angeles    CA    557
...                              ...   ...    ...
29089                Jamul (east of)    CA      1
29090                     Jamesville    MD      1
29091  Jamestown (Adam's Farm) dist.    NC      1
29092                      Jamestown    SC      1
29093                       zumbrota    MN      1

[29094 rows x 3 columns]

In [38]:
usa_ufos[['state']].nunique()

state    61
dtype: int64

<bound method Series.unique of 0         KY
1         SC
3         VA
4         CT
5         NH
          ..
148445    SC
148446    GA
148447    PA
148448    WA
148450    NY
Name: state, Length: 132522, dtype: object>