In [24]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [25]:
ufo_df = pd.read_csv('../data/nuforc.csv')
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148451 entries, 0 to 148450
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  148451 non-null  int64
 1   image_link  148451 non-null  object
 2   occurred    148153 non-null  object
 3   city        147920 non-null  object
 4   state       139495 non-null  object
 5   country     148451 non-null  object
 6   shape       142108 non-null  object
 7   summary     148377 non-null  object
 8   reported    148451 non-null  object
 9   posted      148451 non-null  object
 10  image       4277 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [26]:
ufo_df['country'].nunique()

395

In [27]:
ufo_df['country'].value_counts()

USA                       132522
Canada                      5938
United Kingdom              3437
Australia                    952
India                        488
                           ...
Dominica, West Indies          1
sri lanka                      1
Caribbean (Grand Turk)         1
italy                          1
Germany/France                 1
Name: country, Length: 395, dtype: int64

In [28]:
ufo_df['city'].nunique()

30237

In [30]:
usa_ufos = ufo_df[ufo_df['country'] == 'USA']

In [31]:
us_city_counts = usa_ufos[['city', 'state']].value_counts()
us_city_counts = pd.DataFrame(us_city_counts).reset_index()
us_city_counts.columns = ['city', 'state', 'count']

us_city_counts.sort_values('count', ascending=False)
us_city_counts

                                city state  count
0                            Phoenix    AZ    773
1                            Seattle    WA    742
2                          Las Vegas    NV    648
3                           Portland    OR    590
4                        Los Angeles    CA    557
...                              ...   ...    ...
29089                Jamul (east of)    CA      1
29090                     Jamesville    MD      1
29091  Jamestown (Adam's Farm) dist.    NC      1
29092                      Jamestown    SC      1
29093                       zumbrota    MN      1

[29094 rows x 3 columns]

In [38]:
usa_ufos[['state']].nunique()

state    61
dtype: int64

In [40]:
usa_ufos.state.unique()

array(['KY', 'SC', 'VA', 'CT', 'NH', 'CA', 'MA', 'ME', 'PA', 'NJ', 'OH',
       'NY', 'MD', 'IN', 'FL', 'WI', 'MI', 'AR', 'CO', 'IL', 'OR', 'AK',
       'NV', 'TX', 'UT', 'NC', 'TN', 'VT', 'WA', 'MS', 'WV', 'NE', 'OK',
       'NM', 'AZ', 'AL', 'ID', 'MT', 'MN', 'MO', 'LA', 'GA', 'IA', 'WY',
       'KS', 'DE', 'SD', 'RI', 'HI', '-', '0', 'ND', 'PR', 'DC', 'VI',
       'Fl', 'West Virginia', 'NB', 'GU', 'Ca', 'UM'], dtype=object)

In [41]:
usa_ufos[usa_ufos['state'] == 'GU']

,Unnamed: 0,image_link,occurred,city,state,country,shape,summary,reported,posted,image
45779,45779,<a data-content='Open' href='/sighting/?id=120...,7/13/2015 2:00,Inarajan (Guam),GU,USA,Light,Orange glowing light in sky that responded to ...,7/13/2015,7/17/2015,NaN
52715,52715,<a data-content='Open' href='/sighting/?id=177...,8/1/2014 17:59,Agana,GU,USA,Orb,Orange light orbs floating low.,8/1/2023,9/10/2023,NaN
142238,62238,<a data-content='Open' href='/sighting/?id=166...,5/1/1980 20:30,Inarajan (Guam),GU,USA,Circle,On a evening of May 19,2/7/2022,3/4/2022,NaN

In [42]:
usa_ufos = usa_ufos[usa_ufos['state'] != 'GU']

In [43]:
usa_ufos.state.unique()

array(['KY', 'SC', 'VA', 'CT', 'NH', 'CA', 'MA', 'ME', 'PA', 'NJ', 'OH',
       'NY', 'MD', 'IN', 'FL', 'WI', 'MI', 'AR', 'CO', 'IL', 'OR', 'AK',
       'NV', 'TX', 'UT', 'NC', 'TN', 'VT', 'WA', 'MS', 'WV', 'NE', 'OK',
       'NM', 'AZ', 'AL', 'ID', 'MT', 'MN', 'MO', 'LA', 'GA', 'IA', 'WY',
       'KS', 'DE', 'SD', 'RI', 'HI', '-', '0', 'ND', 'PR', 'DC', 'VI',
       'Fl', 'West Virginia', 'NB', 'Ca', 'UM'], dtype=object)

In [48]:
usa_ufos[usa_ufos['state'] == 'VI']

,Unnamed: 0,image_link,occurred,city,state,country,shape,summary,reported,posted,image
10028,10028,<a data-content='Open' href='/sighting/?id=165...,12/8/2021 17:30,Frederikste (Virgin Islands),VI,USA,Chevron,Triangle shapes moved very slowly to the north.,12/8/2021,12/19/2021,NaN
10551,10551,<a data-content='Open' href='/sighting/?id=165...,10/26/2021 11:00,Frederiksted St> Croix USVI,VI,USA,Oval,Noticed an image in a picture when looking at ...,12/7/2021,12/19/2021,Y
14328,14328,<a data-content='Open' href='/sighting/?id=160...,11/5/2020 5:45,Charlotte Amalie,VI,USA,Light,Eleven stars moving and then disappearing,11/4/2020,12/23/2020,NaN
20668,20668,<a data-content='Open' href='/sighting/?id=152...,1/12/2020 17:59,St. Thomas (USVI),VI,USA,Sphere,UFO seen above the US Virgin Islands.,1/28/2020,2/7/2020,NaN
49027,49027,<a data-content='Open' href='/sighting/?id=116...,12/31/2014 23:59,St. Thomas (U. S. Virgin Islands),VI,USA,Triangle,Red triangle seen over us Virgin Islands on Ne...,1/8/2015,1/9/2015,NaN
57009,57009,<a data-content='Open' href='/sighting/?id=106...,2/6/2014 3:45,St. Thomas (U. S. Virgin Islands),VI,USA,Cylinder,Saw the ufo and it was obvious that it was ext...,2/6/2014,2/7/2014,NaN
68203,68203,<a data-content='Open' href='/sighting/?id=928...,9/17/2012 21:35,Kingshill (U. S. Virgin Islands),VI,USA,Fireball,Greenish blue fireball seen racing across the ...,9/17/2012,9/24/2012,NaN
78951,78951,<a data-content='Open' href='/sighting/?id=803...,3/5/2011 20:00,Charlotte Amalie (U. S. Virgin Islands),VI,USA,Fireball,Bright flare up object durring twilight,3/6/2011,3/10/2011,NaN
84243,4243,<a data-content='Open' href='/sighting/?id=741...,1/23/2010 0:00,Cruz Bay (U. S. Virgin Islands),VI,USA,Light,Four bright amber coloured lights spotted flyi...,1/23/2010,2/14/2010,NaN
94533,14533,<a data-content='Open' href='/sighting/?id=610...,1/21/2008 22:00,U. S. Virgin Islands (Cruz Bay),VI,USA,Light,Every night I see this object in the sky from ...,1/21/2008,2/14/2008,NaN
101648,21648,<a data-content='Open' href='/sighting/?id=166...,7/29/2006 22:00,St. Croix (Virgin Islands),VI,USA,Light,Erratic ball of light,2/8/2022,3/4/2022,NaN
108468,28468,<a data-content='Open' href='/sighting/?id=457...,12/22/2004 7:55,"Frederiksted (St. Croix, US Virgin Islands)",VI,USA,Flash,Streaks of light moving quickly and erraticall...,8/22/2005,9/2/2005,NaN
113820,33820,<a data-content='Open' href='/sighting/?id=331...,11/13/2003 21:30,Atlantic Ocean (Virgin Islands),VI,USA,Rectangle,A bright Orange Object appeared to be observin...,11/16/2003,11/26/2003,NaN
132572,52572,<a data-content='Open' href='/sighting/?id=575...,7/1/1998 1:00,St. Thomas (U. S. Virgin Islands),VI,USA,NaN,craft from st thomas,7/10/2007,8/7/2007,NaN
133585,53585,<a data-content='Open' href='/sighting/?id=307...,10/25/1997 22:00,"St. Thomas, (U. S. Virgin Islands)",VI,USA,Orb,Was staring at a very clear night sky over the...,2/1/1998,3/7/1998,NaN
136097,56097,<a data-content='Open' href='/sighting/?id=751...,11/10/1995 23:00,St. Thomas (Charlotte Amalie) (U. S. Virgin Is...,VI,USA,Circle,A LARGE MOON SIZE ILUMINATED GLOBE,4/19/2010,5/12/2010,NaN
141441,61441,<a data-content='Open' href='/sighting/?id=287...,4/20/1983 21:00,St. Croix (U. S. Virgin Islands),VI,USA,Light,A HUGE LIGHT FLOATING OVER OUR HOUSE IN THE VI...,5/14/2003,5/27/2003,NaN
143051,63051,<a data-content='Open' href='/sighting/?id=536...,2/15/1978 10:00,St.Thomas (U. S. Virgin Islands),VI,USA,Disk,Visible in the mid-day,11/25/2006,12/7/2006,NaN
146304,66304,<a data-content='Open' href='/sighting/?id=177...,4/1/1967 21:00,St. Croix,VI,USA,Circle,A bright white sphere seen in the night sky,8/1/2023,9/10/2023,NaN

In [57]:
usa_ufos = usa_ufos[usa_ufos['state'] != 'VI'] 
usa_ufos = usa_ufos[usa_ufos['state'] != 'PR'] 
#| (usa_ufos['state'] != '') 
usa_ufos.state.unique()

array(['KY', 'SC', 'VA', 'CT', 'NH', 'MA', 'ME', 'PA', 'NJ', 'OH', 'NY',
       'MD', 'IN', 'WI', 'MI', 'AR', 'CO', 'IL', 'OR', 'AK', 'NV', 'TX',
       'UT', 'NC', 'TN', 'VT', 'WA', 'MS', 'NE', 'OK', 'NM', 'AZ', 'AL',
       'ID', 'MT', 'MN', 'MO', 'LA', 'GA', 'IA', 'WY', 'KS', 'DE', 'SD',
       'RI', 'HI', '-', '0', 'ND', 'DC', 'NB', 'UM'], dtype=object)

In [58]:
usa_ufos[usa_ufos['state'] == 'NB']

,Unnamed: 0,image_link,occurred,city,state,country,shape,summary,reported,posted,image
42776,42776,<a data-content='Open' href='/sighting/?id=124...,11/13/2015 22:30,Omaha,NB,USA,NaN,My bf and I noticed in the sky a craft that wa...,11/14/2015,11/19/2015,NaN

In [62]:
usa_ufos[usa_ufos['state'] == 'UM']
usa_ufos = usa_ufos[usa_ufos['state'] != 'UM']

In [51]:
usa_ufos[usa_ufos['state'] == 'Fl']

,Unnamed: 0,image_link,occurred,city,state,country,shape,summary,reported,posted,image
28232,28232,<a data-content='Open' href='/sighting/?id=143...,10/4/2018 5:45,Largo,Fl,USA,Circle,"While looking at sky before sunrise, I saw a c...",10/6/2018,10/6/2018,NaN
135562,55562,<a data-content='Open' href='/sighting/?id=151...,5/26/1996 1:55,Fort Myers,Fl,USA,NaN,"Woman driving home from shopping sees ""subdued...",5/26/1996,11/2/1999,NaN
135570,55570,<a data-content='Open' href='/sighting/?id=151...,5/22/1996 20:30,Venice,Fl,USA,NaN,"Mother, 2 sons driving along wooded road, see ...",5/22/1996,11/2/1999,NaN
135583,55583,<a data-content='Open' href='/sighting/?id=150...,5/17/1996 1:30,Miami,Fl,USA,NaN,"Man sees aqua-green obj., with bright orange n...",5/16/1996,11/2/1999,NaN
135644,55644,<a data-content='Open' href='/sighting/?id=144...,4/28/1996 0:10,Fort Walton Beach,Fl,USA,NaN,"Capt., 4x crew, witness VERY bright descend fr...",4/28/1996,11/2/1999,NaN

In [59]:
usa_ufos['state'] = usa_ufos['state'].replace(['Fl', 'FL'])
usa_ufos['state'] = usa_ufos['state'].replace(['NB', 'NE'])
usa_ufos['state'] = usa_ufos['state'].replace(['Ca', 'CA'])
usa_ufos['state'] = usa_ufos['state'].replace(['West Virginia', 'WV'])
usa_ufos['state'] = usa_ufos['state'].replace(['-', 'Unknown'])
usa_ufos['state'] = usa_ufos['state'].replace(['0', 'Unknown'])

In [63]:
usa_ufos.state.unique()

array(['KY', 'SC', 'VA', 'CT', 'NH', 'MA', 'ME', 'PA', 'NJ', 'OH', 'NY',
       'MD', 'IN', 'WI', 'MI', 'AR', 'CO', 'IL', 'OR', 'AK', 'NV', 'TX',
       'UT', 'NC', 'TN', 'VT', 'WA', 'MS', 'OK', 'NM', 'AZ', 'AL', 'ID',
       'MT', 'MN', 'MO', 'LA', 'GA', 'IA', 'WY', 'KS', 'DE', 'SD', 'RI',
       'HI', 'ND', 'DC'], dtype=object)

In [64]:
usa_ufos.state.nunique()

47