In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
ufo_df = pd.read_csv('../data/nuforc.csv')
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148451 entries, 0 to 148450
Data columns (total 11 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  148451 non-null  int64
 1   image_link  148451 non-null  object
 2   occurred    148153 non-null  object
 3   city        147920 non-null  object
 4   state       139495 non-null  object
 5   country     148451 non-null  object
 6   shape       142108 non-null  object
 7   summary     148377 non-null  object
 8   reported    148451 non-null  object
 9   posted      148451 non-null  object
 10  image       4277 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [ ]:
ufo_df['country'].nunique()

In [ ]:
ufo_df['country'].value_counts()

In [ ]:
ufo_df['city'].nunique()

In [3]:
usa_ufos = ufo_df[ufo_df['country'] == 'USA']

In [4]:
us_city_counts = usa_ufos[['city', 'state']].value_counts()
us_city_counts = pd.DataFrame(us_city_counts).reset_index()
us_city_counts.columns = ['city', 'state', 'count']

us_city_counts.sort_values('count', ascending=False)
us_city_counts.head(10)

          city state  count
0      Phoenix    AZ    773
1      Seattle    WA    742
2    Las Vegas    NV    648
3     Portland    OR    590
4  Los Angeles    CA    557
5    San Diego    CA    547
6       Tucson    AZ    472
7      Chicago    IL    446
8      Houston    TX    429
9  Albuquerque    NM    399

In [ ]:
usa_ufos[['state']].nunique()

In [ ]:
usa_ufos.state.unique()

In [ ]:
usa_ufos[usa_ufos['state'] == 'GU']

In [ ]:
usa_ufos = usa_ufos[usa_ufos['state'] != 'GU']

In [ ]:
usa_ufos.state.unique()

In [ ]:
usa_ufos[usa_ufos['state'] == 'VI']

In [ ]:
usa_ufos = usa_ufos[usa_ufos['state'] != 'VI'] 
usa_ufos = usa_ufos[usa_ufos['state'] != 'PR'] 
#| (usa_ufos['state'] != '') 
usa_ufos.state.unique()

In [ ]:
usa_ufos[usa_ufos['state'] == 'NB']

In [ ]:
usa_ufos[usa_ufos['state'] == 'UM']
usa_ufos = usa_ufos[usa_ufos['state'] != 'UM']

In [ ]:
usa_ufos[usa_ufos['state'] == 'Fl']

In [ ]:
usa_ufos['state'] = usa_ufos['state'].replace('Fl', 'FL')
usa_ufos['state'] = usa_ufos['state'].replace('NB', 'NE')
usa_ufos['state'] = usa_ufos['state'].replace('Ca', 'CA')
usa_ufos['state'] = usa_ufos['state'].replace('West Virginia', 'WV')
usa_ufos['state'] = usa_ufos['state'].replace('-', 'Unknown')
usa_ufos['state'] = usa_ufos['state'].replace('0', 'Unknown')

In [ ]:
usa_ufos.state.unique()

In [ ]:
usa_ufos.state.nunique()

In [ ]:
usa_ufos.groupby(['state']).count()

In [ ]:
usa_ufos[usa_ufos['state']=='CA'].city.nunique()

In [ ]:
usa_ufos.to_csv('usa_ufos.csv')

usa_ufos[usa_ufos['state'] == 'CA'].sort_values('city', ascending=True).iloc[0:50]

In [11]:
usa_ufos2 = pd.read_csv('../data/usa_ufos_clean.csv', nrows = 132308)

In [12]:
usa_ufos2

,id,image_link,occurred,city,state,country,shape,summary,reported,posted,image
0,0,<a data-content='Open' href='/sighting/?id=180...,2/15/2024 14:20,Shepherdsville,KY,USA,Orb,Several sightings over several years.,2/15/2024,2/15/2024,NaN
1,1,<a data-content='Open' href='/sighting/?id=180...,2/15/2024 6:21,Greenville,SC,USA,Circle,"Object moving slowing across the sky, suddenly...",2/15/2024,2/15/2024,NaN
2,3,<a data-content='Open' href='/sighting/?id=180...,2/14/2024 22:45,NaN,VA,USA,Light,Standing to the west of this object it hung in...,2/15/2024,2/15/2024,NaN
3,4,<a data-content='Open' href='/sighting/?id=180...,2/14/2024 22:44,Somers,CT,USA,Unknown,"Odd, flashing object I could only describe dur...",2/14/2024,2/15/2024,Y
4,5,<a data-content='Open' href='/sighting/?id=180...,2/14/2024 22:15,Boscawen,NH,USA,Light,Bright light in sky changing shape but almost ...,2/15/2024,2/15/2024,Y
...,...,...,...,...,...,...,...,...,...,...,...
132302,148445,<a data-content='Open' href='/sighting/?id=156...,NaN,Manning,SC,USA,Sphere,The object was metallic in color. Spherical i...,6/5/2020,6/25/2020,NaN
132303,148446,<a data-content='Open' href='/sighting/?id=148...,NaN,Nahunta,GA,USA,Other,((HOAX??)) ((NUFORC Note: Source of report p...,8/24/2019,9/6/2019,NaN
132304,148447,<a data-content='Open' href='/sighting/?id=217...,NaN,Trevorton,PA,USA,Unknown,Fast UFO flyies across mountain areas. Telsa ...,2/10/2002,2/22/2002,NaN
132305,148448,<a data-content='Open' href='/sighting/?id=878...,NaN,Richland,WA,USA,Orb,Multiple sightings,3/19/2012,12/20/2012,NaN
132306,148450,<a data-content='Open' href='/sighting/?id=724...,NaN,New York City,NY,USA,Oval,round object with bright light and beams shinn...,9/19/2009,12/12/2009,NaN

In [7]:
usa_ufos2[usa_ufos2['state']=='CA'].city.nunique()

#previous result was 2564

1884

In [19]:
us_city_count2 = usa_ufos2[['city', 'state']].value_counts()
#us_city_counts2 = pd.DataFrame(us_city_counts2).reset_index()
#us_city_counts2.columns = ['city', 'state', 'count']

#us_city_count2.sort_values('count', ascending=False)
us_city_count2.head(11)

#previous answers were
# 0 Phoenix	AZ	773
# 1	Seattle	WA	742
# 2	Las Vegas	NV	648
# 3	Portland	OR	590
# 4	Los Angeles	CA	557
# 5	San Diego	CA	547
# 6	Tucson	AZ	472
# 7	Chicago	IL	446
# 8	Houston	TX	429
# 9	Albuquerque	NM	399

#Note that NYC was not in top 10

city           state
Phoenix        AZ       816
New York City  NY       809
Seattle        WA       803
Las Vegas      NV       690
Portland       OR       614
Los Angeles    CA       611
San Diego      CA       587
Tucson         AZ       487
Chicago        IL       477
Houston        TX       449
Albuquerque    NM       413
dtype: int64

In [18]:
usa_ufos2[['state']].value_counts()

state
CA         16243
FL          8305
WA          7233
TX          6203
NY          5908
PA          5049
AZ          4982
OH          4471
IL          4298
NC          3680
MI          3669
OR          3564
CO          3283
NJ          2897
MO          2814
IN          2732
GA          2730
MA          2716
VA          2711
WI          2455
TN          2318
SC          2247
MN          2112
CT          2036
MD          1859
NV          1705
KY          1692
NM          1674
UT          1531
OK          1502
AL          1403
ID          1358
AR          1291
IA          1225
NH          1199
ME          1192
KS          1191
LA          1128
MT          1004
WV           908
MS           787
NE           702
HI           672
AK           644
VT           610
RI           599
DE           419
WY           416
SD           397
ND           277
DC           152
Unknown      114
dtype: int64